.subheader
  .container
    %h2= dmy(date)
.container.main-content
  .row
    .col-md-8.col-md-offset-2
      .events
        - events_for_month(*date).each do |event|
          .event(itemscope itemtype="http://data-vocabulary.org/Event")
            %h3.event-title
              = link_to event_path(event), itemprop: "url" do
                %span(itemprop="summary")= event.title
            = partial :event, locals: { event: event }
      %ul.pager
        - prev = date.months_ago(1)
        - disabled = events_for_month(prev).blank?
        - path = Date.today.beginning_of_month == prev ? "/" : (disabled ? "#" : month_path(prev))
        %li.previous{class: disabled ? :disabled : nil}
          = link_to path do
            &larr; #{dmy(prev)}
        - next_month = date.months_ago(-1)
        - disabled = events_for_month(next_month).blank?
        - path = Date.today.beginning_of_month == next_month ? "/" : (disabled ? "#" : month_path(next_month))
        %li.next{class: disabled ? :disabled : nil}
          = link_to disabled ? "#" : path do
            #{dmy(next_month)} &rarr;
