%small
%dl.dl-horizontal
  %dt 日時
  %dd
    %time{itemprop: "startDate", datetime: event.starts_on.iso8601}= simple_format event.date_info
  %dt 場所
  %dd(itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization")
    %span(itemprop="address")= simple_format event.address
  - if event.price.present?
    %dt 参加費
    %dd
      %p
        - if event.free?
          無料
        - else
          = yen event.price
  - if event.target.present?
    %dt 対象
    %dd= simple_format event.target
  - if event.prize.present?
    %dt 賞
    %dd= simple_format event.prize
  - if event.description.present?
    %dt 概要
    %dd= md_to_html event.description
  %dt URL
  %dd= link_to event.url, event.url
